
/* ==========================================================================
    18. ABOUT STYLES
    ========================================================================== */

.about-header {
    padding-top: 183px;
    padding-bottom: 180px;
    background-image: url(../images/other/about-section-01.jpg);
}

.about-header h1 {
    letter-spacing: 0.2em;
    line-height: 1.2em;
    font-size: 50px;
    color: #1674D1;
    margin: 0 0 50px;
}

.about-header h1 b {
    color: #fff;
}

.about-header p {
    color: #fff;
}

.about-info-content {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(../images/other/about-section-02.jpg);
}

.about-info-content h4 {
    margin: 0;
}

.about-info-content ul {
    margin-left: 30px !important;
}

.about-info-content li {
    line-height: 2.5em;
    position: relative;
}

.about-info-content li:after {
    content: "\e685";
    color: #1674D1;
    font-family: "Pe-icon-7-stroke";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #1674D1;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: -30px;
    margin-top: -10px;
}

.about-icon-box {
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: url(../images/other/section16.png);
}

.about-icon-box .icon-box1 {
    margin-bottom: 50px;
}

.sub-header {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(../images/other/section13.jpg);
}

.sub-header h1 {
    color: #1472d1;
    letter-spacing: 0.05em;
    margin: 0 0 25px;
    font-size: 50px;
}

.sub-header p {
    font-size: 15px;
    color: #ffffff;
}

