
/* ==========================================================================
    8. CALL TO ACTION
    ========================================================================== */

.cta-text {
    padding: 56px 0px;
}

.cta-text h4 {
    margin-bottom: 10px !important;
}

.cta-box {
    margin-bottom: 0px;
    padding-top: 70px;
    padding-bottom: 65px;
    background: url(../images/other/section06.jpg);
}

.cta-box h3 {
    letter-spacing: 0.15em;
    margin-top: 8px;
}

.highlight {
    color: #1674D1;
}

.highlight2 {
    color: #111111;
}

.cta-box-blue {
    margin-bottom: 0px;
    padding-top: 70px;
    padding-bottom: 65px;
    background: url(../images/other/section04.jpg);
}

.cta-box-blue h3 {
    color: #fff;
}

.cta-full {
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 90px;
    background: url(../images/other/section06.jpg);
}

.cta-full h3 {
    letter-spacing: 0.15em;
    font-size: 28px;
    color: #1573d1;
    margin-bottom: 10px;
}

.cta-full p {
    margin: 15px 0 20px;
}

