
/* ==========================================================================
    10. COLUMNS
    ========================================================================== */

.shortcode-columns {
    padding: 56px 0px 60px;
}

.shortcode-columns h4.custom-head {
    margin: 0px 0px 15px !important;
}

.shortcode-columns p {
    margin-bottom: 35px;
}
