
/* ==========================================================================
    26. PAGINATION
    ========================================================================== */

.paginatio2 {
    margin-bottom: 70px;
    text-align: center;
}

.paginatio2 span,
.paginatio2 a {
    display: inline-block;
    margin-right: 10px;
    color: #aaa;
    line-height: 1.6em;
    letter-spacing: 0.2em;
    font-size: 14px;
    border: 2px solid #ccc;
    font-weight: 400;
    padding: 10px 18px 0px;
}

.paginatio2 span:hover,
.paginatio2 a:hover {
    color: #1674D1;
    border-color: #1674D1;
}

.paginatio2 span.current {
    color: #1674D1;
    border-color: #1674D1;
}

.paginatio2 .next,
.paginatio2 .prev {
    width: auto;
    border: none;
    font-size: 0;
    color: #999;
    border: 2px solid #ccc;
    padding: 13px 18px 0px;
    vertical-align: bottom;
    padding-top: 20px;
}

.paginatio2 .next::before {
    content: '»';
    font-size: 14px;
}

.paginatio2 .prev::after {
    content: '«';
    font-size: 14px;
}

