
/* ==========================================================================
    22. SERVICES STYLES
    ========================================================================== */

.service-list-head {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 140px;
    padding-bottom: 155px;
    background-image: url(../images/other/section14.jpg);
}

.service-list-head h1 {
    color: #fff;
    letter-spacing: 0.2em;
    font-size: 50px;
    line-height: 1.2em;
    margin: 0 0 20px;
}

.service-list-head p {
    font-size: 15px;
    margin: 0;
    color: #fff;
}


