
/* ==========================================================================
    11. STATS COUNTER
    ========================================================================== */

.counter-item h3 {
    color: #1573d1;
    font-size: 50px;
    letter-spacing: 0.05em;
    margin: 0 0 15px;
}

.counter-item h5 {
    color: #111111;
    font-size: 14px;
    margin: 0;
}

.counter-white {
    margin-bottom: 0px;
    padding-top: 99px;
    padding-bottom: 99px;
    background-image: url(../images/other/section10.jpg);
    background-size: cover;
}

.counter-black {
    margin-bottom: 0px;
    padding-top: 99px;
    padding-bottom: 99px;
    background-image: url(../images/other/section11.jpg);
    background-size: cover;
}

.counter-blue {
    margin-bottom: 0px;
    padding-top: 99px;
    padding-bottom: 99px;
    background-image: url(../images/other/section12.jpg);
    background-size: cover;
}

.countdown-gray {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f5f5f5 !important;
}
